
<h1>Url Shortener</h1><br/>
<%= form_for :url do |f| %>
	Url Address: <br/> 
	<%= f.text_field :address %> <br/>
	Vanity Url: (optional) <br/>
	<%= f.text_field :shortened %><br/>
	<%=f.submit "Submit" %>
<% end %>






	<% @urls.each do |url|%>
	<p class = "url">
	Shortened Url: <%= link_to("localhost:3000/" + "#{url.shortened}", "#{url.id}")%> <br/> 
	Original Url: <%=link_to("#{url.address}", "#{url.address}") %><br/>
	Visit Count: <%="#{url.count}"%><br/>
	<%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
	<% end %>

