<h1 class = "notice"><%=flash[:notice]%></h1>
<h1>Urls</h1>
<%= form_for :url do |f| %>
	Url Address: <%= f.text_field :address %> <br/>
	Vanity Url: <%= f.text_field :shortened %><br/>
	<%=f.submit "Submit" %>
<% end %>





<p>
	<% @urls.each do |url|%>
	<%= link_to("#{url.count}"+ " " +"localhost:3000/" + "#{url.shortened}", "#{url.id}")  +" " + ": #{url.address}" %> <br/>
	<% end %>
</p>
